.App {
  background-color: #182029;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.App__logo {
  animation: App-logo-spin infinite 10s linear;
  height: 8rem;
  margin-bottom: 4rem;
  pointer-events: none;
}

.App__header {
  padding: 1rem;
}

.App__title {
  font-size: 1.6rem;
  margin: 0;
  text-transform: uppercase;
}

.App__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 1.6rem;
  justify-content: center;
}

.App__footer {
  padding: 1rem;
}

.App__link {
  color: #e9ecf0;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
